$white: #FFFFFF;
$gray: #999999;
$primary: #252526;
$secondary: #EB3372;

$xxl: "only screen and (max-width : 1400px)";
$xl: "only screen and (max-width : 1200px)";
$lg: "only screen and (max-width : 992px)";
$md: "only screen and (max-width : 768px)";
$sm: "only screen and (max-width : 576px)";
$xs: "only screen and (max-width : 0px)";

body {
    color: $white;
    background-color: $primary;
}

#player {
    position: absolute;
    visibility: hidden;
    width: 10px !important;
    height: 10px !important;
}

// Buttons
.btn {
    color: $white;
    border: none;
    outline: none;
}

.btn-controls {
    text-align: center;
    width: fit-content;
    transition: all ease-in-out 1s;
}

// Bootstrap
.modal {
    &-content {
        color: $white;
        background-color: $primary;
    }
}