body {
    .playerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 59.2px);

        .player {
            margin-bottom: 80px;
        }
    }
}